.ant-dropdown-menu-title-content{
  width: 200px;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 15px;
}
.ant-dropdown{
  padding-top: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.ant-picker .ant-picker-input >input{
  color: white;
}